body {
    background-color: #100f0f;
    font-family: "Montserrat", "Inter", sans-serif;
    color: #f3f3f3;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    font-style: normal;
    color: inherit;
  }
  
  ul,
  ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
  }
  
  button {
    display: block;
    padding: 0;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
  }
  
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
  }

  /* #region Header */
.header {
    padding: 12px 17px 12px 0;
    background-image: linear-gradient(270deg, #6f6666 0%, #100f0f 100%);
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: auto;
    height: 32px;
    font-weight: 700;
font-size: 20px;
text-transform: uppercase;
}

.logo-icon {
    fill: #f3f3f3;
}

.nav {
    display: none;
}

.header-btn {
    display: none;
}
.menu-btn {
    width: 31px;
    height: 18px;
    border: none;
    background-color: transparent;
}

.btn-icon {
    stroke: #f3f3f3;
    stroke-width: 1px;
}

  /* #endregion Header */

.hero {
    padding: 24px 0 39px 0;
    background-image: url(../images/hero-bg.svg), linear-gradient(235deg, #6f6666 0%, #100f0f 50%);
    background-repeat: no-repeat;
    background-position: left 137px, center center;
    background-size: auto;
}

.hero-container {
    position: relative;
}

.hero-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.23;
  width: 193px;
  margin-bottom: 16px;
  margin-left: 8px;
  position: relative;
}

.hero-title::before {
    content: '';
    position: absolute;
    left: -8px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #f3f3f3;
}
.hero-wrapper {
    padding-top: 16px;
    margin-right: auto;
}

.hero-text {
    max-width: 100px;
    line-height: 1.25;
font-size: 16px;
}

.love {
    font-weight: 600;
color: #bc1a1a;
}

.span {
    display: block;
    letter-spacing: -0.01em;
    line-height: 1.25;
    margin-bottom: 228px;
}

.hero-img {
    max-width: 202px;
    max-height: 350px;
    position: absolute;
    top: 0;
    right: 15px;
}
.hero-btn {
    border-radius: 16px;
    border: none;
display: flex;
justify-content: center;
align-items: center;
min-width: 384px;
height: 66px;
background-color: rgba(188, 26, 26, 0.2);
font-size: 20px;
color: #f3f3f3;
margin-bottom: 16px;
margin-right: auto;
margin-left: auto;
}
.hero-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.hero-list-item {
    display: flex;
    align-items: center;
    gap: 12px;
}
.hero-span {
    font-weight: 600;
font-size: 32px;
}
.properties {
    font-size: 16px;
    max-width: 131px;
}

.hero-list-span {
    display: block;
width: 1px;
height: 78px;
background-color: #f3f3f3;
}
.social-media {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
}
.social-icon {
    fill: #f3f3f3;
}

  